<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Features Settings</key>
	<dict>
		<key>Enable Ads Support</key>
		<true/>
		<key>Enable In App Purchase</key>
		<true/>
		<key>Remove Ads Product Identifier</key>
		<string>com.appillustrator.supermomquiz.removeads</string>
		<key>Enable Game Center</key>
		<true/>
		<key>Data Input Format</key>
		<string>json</string>
		<key>Enable Shuffle Questions</key>
		<true/>
		<key>Enable Shuffle Answers</key>
		<true/>
		<key>Full Points Before Seconds</key>
		<integer>5</integer>
		<key>Highlight Correct Answer If answered Wrong</key>
		<true/>
		<key>Enable Timer Based Score</key>
		<true/>
		<key>Enable Parental Gate</key>
		<true/>
		<key>Application iTunes Link</key>
		<string>https://itunes.apple.com/us/app/supermomquiz/id1006182657?ls=1&amp;mt=8</string>
		<key>Enable Multiplayer Support</key>
		<true/>
		<key>Total Wins Leaderboard ID</key>
		<string>com.appillustrator.supermomquiz.supermom_bestscore</string>
		<key>Achievements For Wins</key>
		<array>
			<dict>
				<key>Achievement ID</key>
				<string>com.appillustrator.supermomquiz.FckImPregnant</string>
				<key>Wins</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Achievement ID</key>
				<string>com.appillustrator.supermomquiz.JustAWomanWithFetus</string>
				<key>Wins</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Achievement ID</key>
				<string>com.appillustrator.supermomquiz.YoMama</string>
				<key>Wins</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Achievement ID</key>
				<string>com.appillustrator.supermomquiz.Supermom</string>
				<key>Wins</key>
				<integer>40</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
